{% extends "base.html" %} {% block content %}
{% if game %}
<div class="mdl-card auto-margin mdl-textfield--full-width form-grid mdl-shadow--3dp margin-bottom-10 mdl-color--white margin-top-10">
    <div class="mdl-grid margin-0 mdl-textfield--full-width justify-start padding-0">
        <div class=" mdl-cell--3-col mdl-cell--1-offset-desktop mdl-cell--6-col-phone mdl-cell--8-col-tablet  mdl-typography--text-center">
            <img src="{{game.coverUrl}}" alt="Cover art" class="game-img-detail" />
        </div>
        <div class=" mdl-cell--7-col mdl-cell--8-col-phone auto-margin game-header" style="display: flex; justify-content: flex-end;">
            <div class="action-button">
                <h1 class="game-title" style="color: red;font-weight: 900;">{{game.gameName}}</h1>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-color--white mdl-color-text--purple-A700 button-edit" onclick="location.href='{{url_for('editGameDetails', category = game.category, gameId = game.id)}}'">Edit Game Details</button>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect mdl-color--purple-A700 mdl-color-text--white button-delete" onclick="location.href='{{url_for('deleteGame', category = game.category, gameId = game.id)}}'">Delete Game</button>
            </div>
        </div>

    </div>
    <hr class="detail-content-line" />

    <div class="game-description">
        <div class="description-content margin-bottom-10">
            {{game.description|safe}}
        </div>

    </div>

</div>
{% else %}
  <span align="center" class="no-game-msg">Sorry! No Game in Database With This Genre :(</span>
{% endif %}

{% endblock %}
