{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row" style="margin-top: 20px;">
    {% for game in games %}
    <div class="col-md-4 col-sm-6 col-">
        <div class="card img-fluid" style="width: 18rem; margin-bottom: 20px; opacity: 0.8;">

            <img class="card-img-top" src="{{game.coverUrl}}" style="width: 286; height: 190px; object-fit: cover;">

            <div class="card-body">
                <a class="btn btn-primary img-fluid" href="{{url_for('gameDetail',category = game.category, gameId = game.id)}}" > <span class="img-fluid">{{ game.gameName }}</span></a>
            </div>
        </div>
    </div>
        {% else %}
{% endfor %}
    </div>
</div>
{% endblock %}
