{% extends "base.html" %}
{% block content%}
<div class="container" style="display: flex;justify-content: center;">
        <form action="{{url_for('newGame')}}" class="item-form" method="post" id="gameForm">
          <div>
            <input id="gamename">
            <label for="gameName">Game Name</label>
          </div>
          <div>
            <input type="text" name="gameImage" id="coverurl">
            <label for="gameImage">Game Cover Image url</label>
          </div>
          <div>
            <textarea type="text"  name="gameDescription" id="description"></textarea>
            <label for="gameDescription">Description</label>
          </div>

          <div>
            <label for="category">Category</label>
            <select name="category">
              <option value="Action">Action</option>
              <option value="Fanstasy">Fanstasy</option>
              <option value="Adventure">Adventure</option>
              <option value="Family">Family</option>
              <option value="Sports">Sports</option>
            </select>
          </div>

        <br>

        <button type="button" class="btn btn-primary" onclick="confirmAttributes()" value="Create">Create</button>
        <a href="{{url_for('showGames')}}">Cancel</a>

      </form>
</div>
{% endblock %}
